* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px; 
}

p {
  margin-bottom: 0.8em;
  line-height: 1.8em;
}

h3 {
  font-size: 1.2rem;
  opacity: 0.5;
  margin: 0.5em 0 1em 0;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.2rem !important;
}

h5 {
  font-size: 1rem;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.movie_wrapper {
  max-width: 960px;
  padding: 40px;
  margin: 0 auto;
}

.movie_bg {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_container {
  display: grid;
  grid-template-areas: 
  "details picture"
  "actors picture";
  grid-gap: 20px 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

.movie_info {
  grid-area: details;
}

.movie_pic {
  grid-area: picture;
}

.movie_actors {
  grid-area: actors;
}

.main_bg {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  height: 100vh;
  color: #FFF;
}

html {
  background: rgba(44, 44, 84, .9);
  color: #FFF;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #74b9ff;
  text-decoration: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  top: 50px;
}

.input {
  background-color: #fff;
  border-color: #dbdbdb;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10,10,10,.1);
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  justify-content: flex-start;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  -webkit-box-shadow: 0px 2px 30px -4px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 2px 30px -4px rgba(0,0,0,0.6);
  box-shadow: 0px 2px 30px -4px rgba(0,0,0,0.6);
  box-sizing: border-box;
  padding: 1.2em 1.2em;
}

form {
  margin: 0 30px;
}

.trending_movie_rating {
  grid-area: rating;
}

.trending_movie_pic {
  grid-area: image;
}

.rating {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  color: #ffb142;
  font-weight: bold;
  font-size: 18px;
  line-height: 1em;
  align-self: start;
  display: inline-block;
}

.rating_text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
}

.trending_movie {
  display: grid;
  grid-template-columns: 100px 2fr 60px;
  grid-template-areas: 
  "image content rating";
  grid-gap: 30px;
  margin-top: 10px;
  color: #FFF;
}

.button {
  background-color: #74b9ff;
  color: #FFF;
  padding: 15px 20px;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 20px 0 0;
}

.button:hover {
  background-color: #57aafd;
}

.back {
  display: block;
  margin-bottom: 20px;
}

.trending_movie_info {
  grid-area: content;
}

.trending_movie_img { 
  max-width: 100%;
  height: auto;
}

.movies_img {
  max-width: 100%;
  height: auto;
}

.movie_info {
  margin-top: 40px;
}

.movie_details {
  grid-area: content;
  margin-left: 30px;
}

.movies_container {
  margin: 20px 30px 40px 30px;
  text-align: center;
}

.load {
  background-color: #74b9ff;
  color: #FFF;
  padding: 15px 20px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}

.load:hover {
  background-color: #57aafd;
}

.more {
  margin-top: 1em;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 100px 2fr;
  grid-template-areas: "image content";
  position: relative;
  color: white;
  padding: 20px;
  text-align: left;
}

.more:hover {
  background-color: rgba(0,0,0,0.15);
}

.character {
  color: #ffb142;
  margin-bottom: 5px;
  display: block;
}

.trending {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.actors {
  margin-top: 10px;
  list-style-type: none;
  padding: 0;
}

.actor {
  margin-right: 15px;
  margin-bottom: 15px;
}

.actor_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.single_movie {
  margin-top: 40px;
}

.loader {
  border: 2px solid #f3f3f3; 
  border-top: 2px solid #74b9ff;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  animation: spin 0.8s linear infinite;
  display: none;
  margin: 50px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.active {
  display: block;
}

.actor {
  position: relative;
  display: inline-block;
}

.actor .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: rgba(0,0,0,0.3);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.actor .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,0.3) transparent;
}

.actor:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  word-wrap: break-word;
}

.results {
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .trending_movie_img {
    display: none;
  }
  .trending {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  .trending h5 {
    padding-bottom: 0;
  }
  .trending_movie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: "image" "content" "rating";
    grid-gap: 10px;
    margin-top: 0;
  }
  .trending_movie_info h2 {
    font-size: 2rem;
  }
  .trending_movie_info h3 {
    margin: 0.5em 0 0 0;
  }
  .rating {
    margin: 1.5em 0;
  }
  .more {
    margin-top: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "content";
    position: relative;
    grid-gap: 20px;
    color: white;
    padding: 20px;
    text-align: left;
  }
  .movie_details h2{
    font-size: 2rem;
  }
  .movie_details {
    margin-left: 0;
  }
  .movie_details p{
    display: none;
  }
  .movie_details h3{
    margin: 0.5em 0 0.5em 0;
  }
  .results {
    margin-bottom: 0;
  }
  .movie_container {
    display: flex;
    flex-direction: column;
  }
  .movie_bg {
    display: block;
    height: auto;
  }
  .movie_pic {
    display: none;
  }
  .movie_info {
    margin-top: 20px;
  }
}
